h1 {
    font-size: 100px;
    color: #000000;
    text-align: center;
    font-family: "Garamond";
  }
h2, h3, h4, p, ul, li {
    font-family: "Garamond";
  }

  h2, h3 {
    font-size: 50px;
  }
h4, p, ul, li {
    font-size: 30px;
  }

  #top {
    width: 100%;
    height: 90px;
    white-space: nowrap;
    overflow-x: auto;
}
.top_element {
    display: inline-block;
    width: 50%;
    height: 100%;
}